<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lilb/vue.js"></script>
</head>
</head>

<body>
    <div id="app">
        <input type="text" v-model="n1">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2">
        <input type="button" value="=" @click="calc">
        <input type="text" v-model="resurlt">
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            n1: 0,
            n2: 9,
            resurlt: 0,
            opt: '+'
        },
        methods: {
            calc() {
                // switch (this.opt) {
                //     case '+':
                //         this.resurlt = parseInt(this.n1) + parseInt(this.n2)
                //         break;
                //     case '-':
                //         this.resurlt = parseInt(this.n1) - parseInt(this.n2)
                //         break;
                //     case '*':
                //         this.resurlt = parseInt(this.n1) * parseInt(this.n2)
                //         break;
                //     case '/':
                //         this.resurlt = parseInt(this.n1) / parseInt(this.n2)
                //         break;
                // }

                //注意 ：这是投机取巧的方式 正是开发 尽量少用
                var codeStr = 'parseInt(this.n1)' + this.opt + 'parseInt(this.n2)';
                this.resurlt = eval(codeStr);
            }
        }
    });
</script>

</html>